{% extends 'pages/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<center>
    <h1>Vacation Form</h1>
    <hr />
    <b>Please Select your Vacation Slot</b>
    <form method="POST">
        {% csrf_token %}
        <br />
        {% for slot in slots %}
        <input type="radio" name="slot" value="{{slot.slot}}" />{{slot.slot}}<br />
        {% endfor %}
        <br />
        <input type="submit" value="Submit" class="btn btn-success" />
    </form>
</center>
{% endblock content %}